<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.1" />
  </startup>
  <appSettings>
    <!-- Azure Media Services account credentials -->
    <add key="AMSAADTenantDomain" value="" />
    <add key="AMSRESTAPIEndpoint" value="" />
    <add key="AMSRESTAPIClientId" value="" />
    <add key="AMSRESTAPIClientSecret" value="" />

    <!-- JWT restriction configuration -->
    <add key="JWTRestrictionPrimaryVerificationKey" value="kf9VbPNNNSQruiVIqUn2htw8puyjhf1SL05LsjxGdN0UzGrdMwFKZR+wjupvlml1Rn5Y7LaFjU8OGd4Qz+VXjQ==" />
    <add key="JWTRestrictionAudience" value="https://sts.contoso.com" />
    <add key="JWTRestrictionIssuer" value="urn:contoso" />

    <!-- Widevine configuration -->
    <add key="WidevineAuthorizationPolicyOptionName" value="default_widevine_authorization_policy_option" />
    <add key="WidevineLicenseTemplatePath" value=".\Configuration\WidevineLicenseTemplate.json" />

    <!-- PlayReady configuration -->
    <add key="PlayReadyAuthorizationPolicyOptionName" value="default_playready_authorization_policy_option" />
    <add key="PlayReadyLicenseTemplatePath" value=".\Configuration\PlayreadyLicenseTemplate.xml" />

    <!-- FairPlay configuration -->
    <add key="FairPlayAuthorizationPolicyOptionName" value="default_fairplay_authorization_policy_option" />
    <add key="FairPlayAppCertPath" value="" />
    <add key="FairPlayAppCertPassword" value="" />
    <add key="FairPlayASK" value="" />

    <!-- Common Encryption configuration -->
    <add key="CommonEncryptionAuthorizationPolicyName" value="default_common_encryption_authorization_policy" />
    <add key="CommonEncryptionCbcsAuthorizationPolicyName" value="default_common_encryption_cbcs_authorization_policy" />
    <add key="DynamicCommonEncryptionDeliveryPolicyName" value="default_dynamic_common_encryption_delivery_policy" />
    <add key="DynamicCommonEncryptionCbcsDeliveryPolicyName" value="default_dynamic_common_encryption_cbcs_delivery_policy" />
  </appSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Net.Http" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.1.0.0" newVersion="4.1.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>